# Copy to .env in this folder to override defaults. See README.md for details.

#OPENCV_REPO=https://github.com/opencv/opencv.git
#OPENCV_REF=4.x

#OUTPUT_DIR=./output/opencv

#FORCE_REBUILD_OPENCVJS=0
#FORCE_REBUILD_DOCS=0
#BUILD_JOBS=0

#RUN_AS_HOST_USER=0
