{
  "compilerOptions": {
    "target": "ES2020",
    "module": "ES2020",
    "moduleResolution": "bundler",
    "strict": true,
    "declaration": false,
    "noEmit": true,
    "skipLibCheck": false,
    "lib": ["ES2020", "DOM"]
  },
  "include": ["index.d.ts", "opencv.js.d.ts", "generated/**/*.d.ts", "hacks/**/*.d.ts"]
}
